snippet tmth "Test Method"
[TestMethod]
${0:public} ${1:void} Test${2:SomeMethod}($3)
{
	$4
}
endsnippet


snippet tc "Test class"
[TestClass]
${0:public} class UnitTest${1:ClassName}
{
	$2
}
endsnippet
