snippet importabc "from abc import ABCMeta, abstractmethod" b
from abc import ABCMeta, abstractmethod
endsnippet

snippet abcclass "__metaclass__ = ABCMeta" b
__metaclass__ = ABCMeta
endsnippet

snippet abcmethod "@abstractmethod" b
@abstractmethod
endsnippet
