snippet media-sm "media xs"
@media (min-width: 576px) {
	${1}
}
endsnippet

snippet media-md "media md"
@media (min-width: 768px) {
	${1}
}
endsnippet

snippet media-lg "media lg"
@media (min-width: 992px) {
	${1}
}
endsnippet

snippet media-xl "media xl"
@media (min-width: 1200px) {
	${1}
}
endsnippet

snippet mix-in "mix in"
@mixin ${1:name}(${2:$variale}){
	${3}
}
endsnippet


