snippet imp "implements" b
implements ${0}
endsnippet

snippet num "number"
number
endsnippet

snippet str "string"
string
endsnippet

snippet inter "interface" b
interface ${1} {
	${0}
}
endsnippet

snippet interx "interface extends" b
interface ${1} extends ${2} {
	${0}
}
endsnippet
